name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: backend/go.mod

      - name: Run linter
        uses: golangci/golangci-lint-action@v4
        with:
          working-directory: backend
          cache-dependency-path: backend/go.sum

      - name: Download dependencies
        run: go mod download
        working-directory: backend

